extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, t('entities.user.firstName'), 'firstName', errors)(type="text")
    +input(user, t('entities.user.lastName'), 'lastName', errors)(type="text")
    +input(user, t('entities.user.email'), 'email', errors)(type="text")
    +input(user, t('entities.user.password'), 'password', errors)(type="password")
    +submit()(value=t('views.users.new.submit'))
