extends ../layouts/application.pug

block header
  = t('views.statuses.edit.header')

block content
  +formFor()(action=route('updateStatus', { id: status.id }) method="post")
    +input(status, t('views.statuses.edit.name'), 'name', errors)(type="text")
    +submit(status)(value=t('views.statuses.edit.submit'))
    +input()(name="_method" type="hidden" value="patch")
