extends ../layouts/application.pug

block header
  = t('views.statuses.new.header')

block content
  +formFor()(action=route('statuses') method='post')
    +input(status, t('views.statuses.new.name'), 'name', errors)(type="text")
    +submit()(value=t('views.statuses.new.submit'))
