extends ../layouts/application.pug

block header
  = t('views.labels.new.header')

block content
  +formFor()(action=route('labels') method='post')
    +input(label, t('entities.name'), 'name', errors)(type="text")
    +submit()(value=t('views.create'))
