extends ../layouts/application.pug

block content
  .card
    .card-body.p-5.bg-light
      .display-4= t('views.welcome.hello') + '!'
      hr
      if isAuthenticated()
        p.lead
          = t('views.welcome.authed.text') + '. '
          a(href=route('tasks'))= t('views.welcome.authed.tasksLink') + '.'
      else
        p.lead
          = t('views.welcome.unauthed.text') + '. '
          a(href=route('newSession'))= t('views.welcome.unauthed.logInLink')
          = ' ' + t('views.welcome.unauthed.or') + ' '
          a(href=route('newUser'))= t('views.welcome.unauthed.signUpLink') + '.'
